<%-include("partials/header") %>
<section>
    <div class="blog-hero-section">
        <img src="<%=image %>" alt="an image">
        <h1><%=topic %></h1>
        <!-- <h2><%=description %></h2> -->
        <p class="line-breaks"><%=text %></p>            
    </div>
</section>
    
    


<%- include("partials/footer") %>